{
  "root": true,
  "env": {
    "es6": true,
    "node": true
  },
  "extends": ["airbnb-base"],
  "rules": {
    "no-console": "off",
    "no-plusplus": "off",
    "no-unused-vars": "off",
    "class-methods-use-this": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off"
  }
}
